body {
  background-color: #a28089;
  color: white;
  padding: 1.25rem;
}


.tiles-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: solid black;
  padding: 1rem;
  gap: 1rem ;
  
}

.img-card {
  width: 200px;
  height: 250px;
  margin: 1rem;
  padding: 1rem;
  
}

img {
  max-width: 100%;
  
}

li {
  list-style-type: none;
  list-style-position: outside;
}

.text-center {
  text-align: center;
}

.center-tiles {
  text-align: center;
  padding-top: 1em;
  margin: 0 ;
}