body {
  background-color: #a28089;
  color: white;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  
}

li {
  list-style-type: none;
  list-style-position: outside;
}

.text-center {
  text-align: center;
}

.center-tiles {
  text-align: center
}